.myheader{    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255,255, 0.8);
    height: auto;
    z-index: 1;
}


ul{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0px;
}

nav a{
    color: #649EF3;
    text-decoration: none;
    text-transform: capitalize;
}

nav a:hover{
    color: #818181;
    text-decoration: none;
    text-shadow: 0px 0px 19px #000000;
}

nav .media i{
    text-decoration: none;
    text-transform: capitalize;
}


header h3,header h4{
    margin: 0px;
    padding: 0px;
    display: inline;
    vertical-align: middle;
}

@media only screen and (max-width: 798px){
    nav a:hover{
        text-shadow: none;
    }
}


.media_header i{
    color: #818181 !important;
}

.media_header{
    margin-left: auto;
    padding-right: 10px;
}

.logo{
    padding-left: 10px;
    margin-right: auto;
}

.mymenu{
    width: 75%;
}

@media only screen and (min-width: 1100px){

    .mymenu{
        padding-top: 10px;
    }

    .myheader{
        padding: 20px 5px 20px 5px;
    }

    .logo img{
        border-radius: 10px;
        width: 60px;
        height: 60px;
    }

    .logo h4{
        font-size: 30px;
    }

    .menu_bigger{
        display: block;
    }

    .menu_smaller{
        display: none;
    }

    .media_header{
        display: none !important;
    }
}

@media only screen and (max-width: 1100px){

    .logo{
        margin-top: 10px;
    }

    .logo img{
        border-radius: 5px;
        width: 30px;
        height: 30px;
    }

    .menu_bigger{
        display: none;
    }

    .menu_smaller{
        display: block;
    }

    .mymenu{
        text-align: center;
        display: block;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .media_header{
        display: block;
    }
}

@media only screen and (max-width: 280px){
    .media_header, .logo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
}
